extends layout

block content
    table.table.table-striped
        thead
            tr
                th.col-md-3 name
                th.col-md-2 actions
                th.col-md-7 result
        tbody
            for url in urls
                tr
                    td #{url.name}.json
                        | &nbsp;
                        a(href="/detail/#{url.name}") 
                            U detail
                    td
                        div.btn-group
                            button.btn.btn-primary.js-run-jmeter(title="run",data-url="#{url.name}",data-loading-text="<i class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></i>")
                                span.glyphicon.glyphicon-play-circle
                            a.btn.btn-success.disabled.js-download(title="download",data-url="#{url.name}",href="#")
                                span.glyphicon.glyphicon.glyphicon-download-alt
                    td
                        pre.js-test-result(data-url="#{url.name}")
    script(src="/javascripts/index.js")
