extends layout

mixin showdetail(data,trclass,deepth)
    -var idKey = Math.floor(Math.random() * (15 - 1300) + 1300)
    each urlObj,urlName in data
        tr(class="#{trclass}",data-toggle="collapse",data-target="#detail#{idKey}#{deepth}#{urlName}",style="cursor: pointer;")
            td.col-md-5
                h4 #{urlObj.obj.name}
            td.col-md-6=urlObj.obj.url
            td.col-md-1
                if Object.keys(urlObj.childs).length > 10
                    span.label.label-danger #{Object.keys(urlObj.childs).length}
                else if Object.keys(urlObj.childs).length > 5
                    span.label.label-warning #{Object.keys(urlObj.childs).length}
                else if Object.keys(urlObj.childs).length > 0
                    span.label.label-primary #{Object.keys(urlObj.childs).length}
                else
                    span.label.label-default #{Object.keys(urlObj.childs).length}
        if Object.keys(urlObj.childs).length > 0
            tr.collapse(id="detail#{idKey}#{deepth}#{urlName}")
                td(colspan=3)
                    table.table.table-bordered.table-hover
                        if deepth == 1
                            +showdetail(urlObj.childs,"success",deepth+1)
                        else if deepth == 2
                            +showdetail(urlObj.childs,"warning",deepth+1)
                        else if deepth == 3
                            +showdetail(urlObj.childs,"info",deepth+1)
                        else
                            +showdetail(urlObj.childs,"danger",deepth+1)
                            

block content
    div
        ul.nav.nav-tabs
            li.active
                a(href="#pandect",data-toggle="tab") 总览
            li(role="presentation")
                a(href="#classify",data-toggle="tab") 分类
        div.tab-content
            div.tab-pane.active(id="pandect")
                h2
                    b URL总数:#{urllists.length}
                h3
                    b 更新方法：
                        pre $state.get()
                table.table.table-striped.table-hover
                    thead
                        tr
                            th.col-md-1 index
                            th.col-md-4 name
                            th.col-md-6 url
                            th.col-md-1 isAbs
                    tbody
                        each url,i in urllists
                            tr
                                td=i+1
                                td=url.name
                                td=url.url
                                td=url.abstract
            div.tab-pane(id="classify")
                table.table.table-bordered.table-hover
                    thead
                        tr
                            th.col-md-4 name
                            th.col-md-7 url
                            th.col-md-1 childs
                    tbody
                        +showdetail(classifyurllists,"",0)
